* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.side__navigation {
    margin-bottom:10px;
    flex: 0 0 15%;
    height: 100%;
    background-color: #868686;
}

.side__navigation--content{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 0 0 15px;
}

.side__navigation--other-deals{
    margin:20px 15px;
    background-color: #eeefec;
    border-radius: 3px;
    text-align: center;
}

.other-details__link{
    color: #000;
    text-decoration: none;
    font-size:10px;
}

.main__content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right:20px;
}

.main__top-bar {
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.main__profile-icon {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.icon-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.main__profile-name {
    margin-left: 10px;
    font-weight: bold;
}

.main__button--submit {
    padding: 6px 16px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}

.main__top--button{
    margin-left:auto;
}

.main__horizon-line {
    border-top: solid 0.8px #6f6f6f;
    margin: 5px 0;
    width: 100%;
    flex-shrink: 0;
}

.main__item {
    display: flex;
    margin: 15px 0;
    flex-shrink: 0;
}

.item__img {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: rgb(192, 191, 191);
}

.item__info {
    margin-left: 20px;
    padding-top: 15px;
}

.item__name {
    font-weight: bold;
    font-size: large;
}

.item__price {
    margin-top: 10px;
}

.main__chat {
    flex: 1;
    overflow-y: auto;
    padding-top: 15px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main__chat::-webkit-scrollbar {
    display: none;
}

.main__chat--user-info {
    display: flex;
    align-items: center;
    margin-top:5px;
}

.main__chat-icon {
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.main__chat--name {
    margin-left: 10px;
    font-weight: bold;
}

.main__chat--message {
    margin-top: 10px;
    padding:5px 0 5px 5px;
    width: 180px;
    background-color: #d9d9d9;
}

.main__chat--img {
    margin-top: 10px;
    width: 90px;
    background-color: #d9d9d9;
}

.main__chat--me{
    display: flex;
    flex-direction: column;
}

.main__chat--me .main__chat--user-info {
    justify-content: flex-end;
}

.main__chat--me .main__chat--message {
    align-self: flex-end;
}

.main__chat--me .main__chat--img {
    align-self: flex-end;
}

.chat__edit{
    display: flex;
}

.message__edit-field{
    background-color: #d9d9d9;
    border: none;
    width: 100%;
    height: auto;
    font-family: inherit;
}

.main__chat--me .chat__edit {
    align-self: flex-end;
}

.main__chat--message-edit .message__edit-field{
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    line-height: 1.6;
    color: inherit;
    margin-bottom:10px;
}

.chat__edit--button{
    margin-left:3px;
    border: none;
    background-color: #ffffff;
    font-size: xx-small;
    color:#5f5f5f;
    text-shadow: 1px 1px 2px #e7e7e7;
}

.main__bottom-bar--inner{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    flex-shrink: 0;
    width: 100%;
}

.main__img--label{
    display: flex;
    align-items: center;
    gap: 8px;
}

.main__message-box {
    padding-left: 10px;
    height: 30px;
    flex: 1;
}

.input__img {
    display: none;
}

.img__choice {
    border: 2px solid #ff6969;
    padding: 2px 10px;
    border-radius: 10px;
    color: #ff6969;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    width: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__message-send-button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.send-button__img {
    width: 100%;
    height: 100%;
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal__inner{
    width:400px;
    height:250px;
    background-color: #fdfce6;
    border-radius: 10px;
    border: 1px solid #000000;
}

.modal__horizon-line {
    border-top: solid 0.8px #6f6f6f;
    margin: 5px 0;
    width: 100%;
    flex-shrink: 0;
}

.modal__header{
    margin:10px 0 10px 15px;
    font-size:large
}

.modal__content--text{
    margin: 10px 0 10px 15px;
    color: #868686;
    font-size: x-small;
}

.rating {
    display: flex;
    gap: 8px;
    font-size: 70px;
    cursor: pointer;
    justify-content: center;
}

.star {
    color: #d9d9d9;
    /* 未選択 */
    transition: color 0.2s;
}

.star.active {
    color: #fff047;
    /* 選択済み */
}

.modal__footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal__button--submit {
    margin:5px 10px 0 0;
    background-color: #ff8282;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}