.header{
    background-color: #000000;
    color:#ffffff;
    padding: 20px 40px 10px 40px;
}

.header__inner{
    display:flex;
    justify-content: space-between;
    height:100%;
}

.header__logo{
    width:20%;
}
.header__img {
    width: 100%;
}

.img{
    width:100%;
    aspect-ratio: 1/1;
}

.main__item--img{
    height:100%;
}

.header__search-form{
    width:35%;
}

.search-form__input{
    width:100%;
}

.search-form__input::placeholder{
    color: #000;
    padding:5% 0 5% 5%;
}

.header__buttons{
    display: flex;
}

.header__logout {
    padding: 5px 10px;
}

.header__button--logout{
    background-color: #000000;
    border:none;
    color:#ffffff;
    font-size: 15px;
}

.header__button--login{
    background-color: #000000;
    text-decoration: none;
    color:#ffffff;
    font-size: 15px;
}

.header__mypage {
    padding: 5px 30px 5px 10px;
}

.header__button--mypage{
    text-decoration: none;
    color:#ffffff;
    font-size: 15px;
}

.header__exhibit{
    background-color: #ffffff;
    border-radius: 3px;
    padding:5px 20px;
}

.header__button--exhibit{
    text-decoration: none;
    color: #000000;
}

.error {
    color: red;
    text-align: left;
}