.main__tabs{
    display: flex;
    margin-top:40px;
}

.main__tab{
    padding-left:8%;
    font-weight: bold;
}

.tab__link--selected{
    color:#ff2222;
    text-decoration: none;
}

.tab__link--unselected{
    color: #6f6f6f;
    text-decoration: none;
}

.main__horizon-line{
    border:solid 0.8px #6f6f6f;
    margin-top:3px;
    width:100vw;
}

.main__items{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap:20px;
    width:90%;
    margin: 5% auto;
    box-sizing: border-box;
}

.main__item{
    position: relative;
    aspect-ratio: 1 / 1;
}

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.main__item--name--link{
    text-decoration: none;
    color:#000000;
}