.main__profile{
    width:60%;
    margin:5% auto;
    display: flex;
}

.profile__icon{
    width:15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #b6b5b5;
}

.profile__name-evaluation{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon-img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.profile__name{
    font-weight: bold;
    margin: 20px 0 0 5%;
}

.profile__evaluation {
    font-weight: bold;
    margin: 0 0 0 5%;
    color: #fff047;
}

.star {
    color: #ccc;
}

.star--active {
    color: #fff047;
}

.profile__update{
    width:40%;
    text-align: center;
    margin: auto 0;
    border: solid 1px #ff5555;
    border-radius: 5px;
    padding:1% 1.5%;
}

.profile__update--link{
    color:#ff5555;
    text-decoration: none;
    font-weight: bold;
}

.main__tabs {
    display: flex;
    margin-top: 40px;
}

.main__tab {
    padding-left: 8%;
    font-weight: bold;
}

.tab__link--selected {
    color: #ff2222;
    text-decoration: none;
}

.tab__link--unselected {
    color: #6f6f6f;
    text-decoration: none;
}

.main__horizon-line{
    border:solid 0.8px #6f6f6f;
    margin-top:3px;
    width:100vw;
}

.main__items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    width: 90%;
    margin: 5% auto;
    box-sizing: border-box;
}

.main__item {
    position: relative;
    aspect-ratio: 1 / 1;
}

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.main__item--name--link {
    text-decoration: none;
    color: #000000;
}

.main__item--img{
    position: relative;
}

.item-number {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff0000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius:50%;
    z-index: 2;
}

.item-number[data-count="0"]{
    display: none;
}

.dealing-tab {
    position: relative;
    padding-right: 28px;
}

.dealing-tab::after {
    content: attr(data-count);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}

.dealing-tab[data-count="0"]::after {
    display: none;
}