.main{
    padding-bottom:50px;
    width:50%;
    margin: 0 auto;
}

.main__title{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin-top:5%;
}

.sub__title{
    margin-top:5%;
    font-weight: bold;
}

.img__add-space{
    position:relative;
    margin-top:1%;
    background-color: transparent;
    border: 1px dashed #5f5f5f;
    border-radius: 3px;
    width:100%;
    aspect-ratio: 3 / 1;
}

.img__upload{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input__img{
    display: none;
}

.preview__img{
    width:40%;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    display: none;
}

.img__choice{
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    color:#ff5755;
    border: solid 2px #ff5755;
    border-radius: 8px;
    padding:2%;
    font-weight: bold;
}

.sub__title--large{
    font-weight: bolder;
    font-size: large;
    color:#5f5f5f;
    margin-top:10%;
}

.horizon-line{
    border:solid 0.6px #5f5f5f;
    margin-top:1%;
    width:100%;
}
.checkbox{
    display: none;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:3%;
    padding-left:3%;
}

.categories:last-of-type {
    display: flex;
    justify-content: left;
}

.categories::after{
    content: "";
    flex: auto;
}

.category{
    font-size: x-small;
    color:#ff5755;
    border: solid 1.5px #ff5755;
    border-radius: 10px;
    padding:0.5% 1.5%;
    margin:0 2% 2% 0;
}

.checkbox:checked+.category {
    background-color: #ff5755;
    color: #fff;
    border-color: #ff5755;
}

.form{
    margin-top:2%;
    width:100%;
}

.form__select{
    width:100%;
    color:#5f5f5f;
    border-color: #5f5f5f;
    border-radius: 3px;
    padding:1% 0 1% 1%;
}

.form__input{
    width:100%;
    height:30px;
}

.form__input{
    color:#000000;
}
.form__textarea{
    width:100%;
    height:60px;
}

.button__submit{
    width:100%;
    margin-top:12%;
    padding:2%;
    background-color: #ff5555;
    color:white;
    border:none;
    border-radius:3px;
    font-weight:bold;
}