.main{
    padding-bottom:50px;
    width:50%;
    margin: 0 auto;
}

.main__title{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin-top:8%;
}

.icon{
    display: flex;
    margin-top: 5%;
}

.icon__img{
    width:20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
}

.curr__img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: none;
}

.preview__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: none;
}

.icon__choice{
    margin: auto 0 auto 10%;
    color: #ff5555;
    padding: 1.5% 2.5%;
    border: solid 1px #ff5555;
    border-radius: 5px;
    font-weight: bold;
}
.input__img {
    display: none;
}

.main__form{
    margin-top:5%;
    width:100%;
}

.main__form--item{
    text-align: left;
    font-weight: bold;
}

.form__input{
    width:100%;
    height:30px;
    padding-left:1%;
}

.main__button{
    margin-top:15%;
    padding:10px 0;
    width:100%;
    background-color: #ff5555;
    color:#ffffff;
    font-weight: bold;
    border:none;
    border-radius:3px;
}